@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

body {
  background: var(--misty-rose);
}

.login {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
  font-family: 'Comfortaa', cursive;
}
span{
    color: var(--light-coral);
}
.form {
  position: relative;
  z-index: 1;
  border-radius: 10px;
  max-width: 350px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  background-color:var(--midnight-blue);
  block-size: auto;
  writing-mode: horizontal-tb;
}

.form input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  border-radius: 5px;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  font-family: 'Comfortaa', cursive;
}

.form input:focus {
  background: #dbdbdb;
}

.form button {
  font-family: 'Comfortaa', cursive;
  text-transform: uppercase;
  outline: 0;
  background: #4b6cb7;
  width: 100%;
  border: 0;
  border-radius: 5px;
  padding: 15px;
  background-color:var(--light-coral);
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form button {
   font-weight: bolder;
}

.form span {
  font-size: 2rem;
  font-weight: bolder;
  color:var(--light-coral)
}
.radio_button{
  color: aliceblue;
  
}



