#scanner-container {
    position: relative;
  }
  body,html{
    background-color: white;
  }

  .drawingBuffer {
    position: absolute;
    left: 0;
    top: 0;
  }
  .h3_barcode_block{
      position: absolute;
      left: -100px;
      top: -20px;
      display: inline-flex;
  }
  .code_block{
    position: relative;
    top: 5px;
    right: -400px;
    padding-left: 100px;
  }
  .button_barcode_block{
      position: relative;
      right: -220px;
      top: 10px;
      padding-top: 20px;
      padding-bottom: 10px;
     
      color: var(--midnight-blue);
      font-weight: bold;
  }

  .button_update{
    position: absolute;
    top:3.5rem;
    background-color: rgba(157, 172, 214, 0.151);
    color: var(--midnight-blue);
    font-weight: bold;
    
  }