.app-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
  }
 
  .stats_head{
      position: relative;
      left: 40%;
  }
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th,
  td {
    border: 1px solid #ffffff;
    text-align: left;
    padding: 8px;
    font-size: 40px;
  }
  
  th {
    background-color:var(--florida-waters);
    color: mintcream;
  }
  
  td {
    background-color: var(--misty-rose);
  }
  
  .stats_form {
    display: flex;
    gap: 5px;
  }
  
  form td:last-child {
    display: flex;
    justify-content: space-evenly;
  }
  
  .stats_form * {
    font-size: 15px;
  }