@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
body{
  font-family: 'Comfortaa', cursive;
}

.app-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
  }
  .stats_head{
      position: relative;
      left: 40%;
  }
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th,
  td {
    border: 1px solid #ffffff;
    text-align: left;
    padding: 8px;
    font-size: 40px;
  }
  
  th {
    background-color: rgb(21, 41, 53);
  }
  
  td {
    background-color: rgb(205, 235, 253);
  }
  
  .stats_form {
    display: flex;
    gap: 5px;
  }
  
  form td:last-child {
    display: flex;
    justify-content: space-evenly;
  }
  
  .stats_form * {
    font-size: 15px;
  }

  @media print {
    body {
      zoom: 85%;
    }
  }

  .remove-action{
    display: none;
  }

 .print_button{
   font-weight: bold;
   color: midnightblue;
   font-size: 1.2rem;
   box-sizing: content-box;
   border-radius: 10%;
   width:4vw;
   margin-left:12px;
   background-color: rgb(214, 225, 235);
 }

 .edit_button{
  background-color: rgb(227, 233, 240);
  font-weight: bold;
  border-radius: 10%;
  color: midnightblue;
 
 }