@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'Comfortaa', cursive;

}
.header{
  height: 100px;
}

.nav {
  height: 6vh;
  width: 100%;
  background-color: var(--florida-waters);
  position: absolute;
  display: flex;
  padding: auto;
}

.nav > .nav-header {
  display: inline;
  padding: auto;
  font-family: 'Comfortaa', cursive;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: var(--floral-white);
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  position: absolute;
  right:4rem;
  display: inline;
  float: right;
  font-family: 'Comfortaa', cursive;
  font-size: 1.2rem;
  
}

.nav > .nav-links > a {
  display: inline-block;
  position: relative;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  font-size: 1.6rem;
  color: var(--floral-white);
}

.nav > .nav-links > a:hover {
    height: 8vh;

}

.nav > #nav-check {
  display: none;
}

@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}