@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

body {
  margin: 0;
  font-family: 'Comfortaa', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(199, 221, 250);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --disco: #801245;
  --corn-silk:#FFF8DC;
  --floral-white:#FFFAF0;
  --midnight-blue:#191970;
  --misty-rose:#FFE4E1;
  --dark-slategrey:#2F4F4F;
  --plum:#DDA0DD;
  --light-coral:#F08080;
  --florida-waters:#27447E;
  
  }
  