.assistantblock{

  left: 400px;
  top: 200px;
   position: absolute;
   font-size: 10px;
}

 .h1block_home{
   position: relative;
   top: -50px;
 }
 .h2block_home{
   position: relative;
   left: 20%;
   top:40%;
   color: midnightblue;

 }
 .submit_home{
  position: relative;
  top: 100px;
  left: 45%;

 }
 .button_home{
   width: 100px;
   height: 50px;
  margin: 6px 2px;
   background-color: #243e56;
   color: white;
 }
 .button_home:hover{
  color: black;
  background-color: white;
  border:  solid #243e56;
 }
 .input_home{
   position: relative;
   bottom: -40px;
   
 }
 .textblock{
   width: 200px;
   position: absolute;
   background-color: #243E56;
   color: ghostwhite;
   text-align: center;
   height: 50px;
 }
 .inputblock{
   position: relative;
   top: -5px;
   padding-left: 200px;
   padding-right: 1px;
 }
.input{
width: 300px;
height: 50px;
margin: 6px 2px;

}
/*.input:hover{
color: black;
background-color: white;
border:  solid #243e56;
}*/